window {
    -gtk-dpi: %d;
    background-image: url("%s");
    background-size: cover;
    background-repeat: no-repeat;
}

label {
    color: %s;
    margin: %dpx;
}

box {
    margin-top: %dpx;
    margin-bottom: %dpx;
    margin-left: %dpx;
    margin-right: %dpx;
}

entry {
    color: %s;
    background-color: %s;
    caret-color: %s;
    border: none;
    box-shadow: none;
}